node_modules
package-lock.json
cache
.env
ignition/deployments
artifacts/*
!artifacts/contracts/
artifacts/contracts/*
!artifacts/contracts/forwarder.sol/
artifacts/contracts/forwarder.sol/*
!artifacts/contracts/forwarder.sol/Forwarder.json
!artifacts/contracts/balanceviewer.sol/
artifacts/contracts/balanceviewer.sol/*
!artifacts/contracts/balanceviewer.sol/BalanceViewer.json
networks.json
networks-simple.json
swap-response.json
swapped-chains.json
all-swap-tx-log.json
